@import 'scss/variable';
@import 'scss/reset';
@import 'scss/base';
@import 'scss/mixin';
// @keyframes time {
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
.clock {
	width: 210px;
	margin: 0 auto;
	position: relative;
	.hour {
		position: absolute;
		width: 16px;
		left: 90px;
		top: 30px;
		transform-origin: 8px 71px;
		// animation: time 25s infinite linear;
	}
	.min {
		position: absolute;
		width: 16px;
		left: 90px;
		top: 30px;
		transform-origin: 8px 71px;
		// animation: time 10s infinite linear;
	}
	.sec {
		position: absolute;
		width: 16px;
		left: 90px;
		top: 30px;
		transform-origin: 8px 71px;
		// animation: time 2s infinite linear;
	}
}